.check-box .box {
	-fx-background-color: transparent;
	-fx-background-insets: 1;
	-fx-border-color: #CCCCCC;
	-fx-border-radius: 3px;
	-fx-border-width: 2px;
}

.check-box .mark {
	-fx-background-color: transparent;
	-fx-background-insets: 1 0 -1 0, 0;
	-fx-padding: 0.333333em;
	-fx-shape: "M14.596,2.055L12.455,0C9.687,2.884,6.011,6.714,5.158,7.602L2.055,4.624L0,6.765l5.242,5.037l0.003-0.004l0.003,0.004L14.596,2.055z";
	-fx-scale-x: 1.5;
	-fx-scale-y: 1.5;
}

.check-box:selected .mark {
	-fx-background-color: #3E4251;
}

.check-box:selected .box {
	-fx-background-color: #CCCCCC;
}
