.menu-button {
	-fx-background-color: #5c5c5c;
	-fx-text-fill: #efefef;
	-fx-background-radius: 3px;
	-fx-border-width: 0;
	-fx-pref-height: 30px;
}

.menu-button:hover {
	-fx-background-color: #878787;
	-fx-text-fill: #EEEEEE !important;
}

.menu-button:default {
	-fx-background-color: #358dab;
	-fx-text-fill: #EEEEEE !important;
}