.pad-grid {
	-fx-hgap: 0px;
	-fx-vgap: 0px;
}

.pad {
	-fx-padding: 4px;
	-fx-spacing: 5px;
	-fx-background-insets: 2px;
}

.pad:drag {
	-fx-opacity: 0.6;
}


.live-label {
	-fx-text-fill: red !important;
}