@import "variables";

.button {
	-fx-background-color: #5c5c5c;
	-fx-text-fill: $component-text-color;
	-fx-background-radius: 3px;
	-fx-font-size: 1.1em;
	-fx-border-width: 0;

	&:focused {
		-fx-background-color: $component-focus-background-color;
		-fx-text-fill: $component-text-color;
	}

	&:hover {
		-fx-background-color: $component-hover-background-color;
		-fx-text-fill: $component-text-color;
	}

	&:default {
		-fx-background-color: $component-focus-background-color;
		-fx-text-fill: $component-text-color;
	}
}
