@import "variables";

.list-view {
	-fx-base: rgb(60, 60, 60);


	.list-cell {
		-fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
		-fx-background-color: -fx-base;
		-fx-padding: 4px;
		-fx-text-fill: #FFFFFF;
		-fx-opacity: 1;

		&:filled {
			-fx-border-width: 0px 0px 1px 0px;
		}

		&:odd:filled {
			-fx-background-color: derive(-fx-hover-base, -10%);
		}
	}

	.list-view:focused {
		.list-cell:focused {
			-fx-background-color: derive(-fx-hover-base, -50%);
			-fx-background-insets: 0, 1, 2;

			&:odd {
				@extend .list-cell, :focused;
			}
		}

		/* When the list-cell is selected and focused */
		.list-cell:filled:focused:selected {
			-fx-background-color: derive(-fx-hover-base, -50%);
			-fx-background-insets: 0, 1, 2;
			-fx-background: derive(-fx-base, -50%);
			-fx-text-fill: $component-text-color;
		}

		.list-cell:filled:selected {
			-fx-background: derive(-fx-base, -50%);
			-fx-background-color: derive(-fx-hover-base, -50%);
			-fx-text-fill: $component-text-color;

			&:hover {
				@extend .list-cell, :filled, :selected;
			}
		}

		.list-cell:filled:focused:selected:hover {
			-fx-background: derive(-fx-base, -50%);
			-fx-background-color: derive(-fx-hover-base, -50%);
			-fx-background-insets: 0, 1, 2;
			-fx-text-fill: $component-text-color;
		}
	}

	/* When the ListView is _not_ focused, we show alternate selection colors */
	.list-cell:filled:selected:focused, .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
		-fx-background-color: derive(-fx-base, +50%);
		-fx-text-fill: $component-text-color;
	}

	.list-cell:filled:selected:focused:disabled, .list-cell:filled:selected:disabled {
		-fx-opacity: derive(-fx-hover-base, -50%);
	}

	.list-cell:filled:hover {
		-fx-background-color: -fx-hover-base;
		-fx-text-fill: $component-text-color;
	}

	.list-view:focused .list-cell:filled:focused:hover {
		-fx-background-color: derive(-fx-hover-base, -50%);

		-fx-background-insets: 0, 1, 2;
		-fx-text-fill: $component-text-color;
	}

	.list-view:horizontal .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected:hover {
		-fx-background-color: derive(-fx-hover-base, -50%);
		-fx-text-fill: $component-text-color;
	}
}