@import "variables";

.notification-pane {
	-fx-background-color: #282828;
}

.notification-pane.top .notification-bar > .pane {
	-fx-background-color: #282828;
	-fx-effect: none;
}

.notification-pane .notification-bar > .pane .label {
	-fx-text-fill: #CCCCCC;
}

.notification-pane .notification-bar > .pane .close-button:hover {
	-fx-background-color: $component-hover-background-color;
	-fx-text-fill: $component-text-color !important;
}