
$component-background-color: #5c5c5c;
$component-background-color-dark: #3c3c3c;
$component-background-color-odd: #7c7c7c;

$component-text-color: #eeeeee;
$component-text-color-deactivated: #888888;

$component-hover-background-color: #878787;
$component-focus-background-color: #358dab;

$component-border-color: #CCCCCC;
$component-border-width: 1px;
$component-border-radius: 2px;

$textfield-background: transparent;
$textfield-prompt-color: #777777;
$textfield-font-size: 14;