.pad${#prefix}-icon ${#class} {
	-fx-text-fill: ${#buttonColor};
}

.pad${#prefix}-playbar ${#class} .track {
	-fx-base: ${#playbarTrackColor};
}

.pad${#prefix}-playbar ${#class} .bar {
	-fx-background-color: ${#playbarBarColor};
}

.pad${#prefix}${#class} {
	-fx-background-color: ${#padColor};
}

.pad${#prefix}-info ${#class} {
	-fx-text-fill: ${#fontColor};
}

.pad${#prefix}-title ${#class} {
	-fx-text-fill: ${#fontColor};
}