/* @formatter:off */

.pad${#prefix}-icon${#class} {
	-fx-text-fill: ${#buttonColor};
}

.pad${#prefix}-playbar${#class} .track {
	-fx-background-radius: 2px;
	-fx-base: ${#playbarTrackColor};
	-fx-background-color: ${#playbarTrackColor}AA;
}

.pad${#prefix}-playbar${#class} .bar {
	-fx-background-insets: 0 0 0 0;
	-fx-padding: 0.25em;

	-fx-background-color: ${#playbarBarColor};
}

.pad${#prefix}${#class} {
	-fx-background-color: ${#padColor};
}

.pad${#prefix}-cue-in${#class} {
	-fx-background-color: ${#padCueInColor};
}


.pad${#prefix}-info${#class} {
	-fx-text-fill: ${#fontColor};
}

.pad${#prefix}-title${#class} {
	-fx-text-fill: ${#fontColor};
}