.root {
	-fx-base: rgb(30, 30, 30);
}

.deleteButton {
	-fx-background-color: transparent;
	-fx-padding: 0;
}

.pad:drag {
	-fx-opacity: 0.8;
}

.text-field:error {
	-fx-text-box-border: red;
	-fx-focus-color: red;
}

.live-label {
	-fx-text-fill: red !important;
}

.pad {
	-fx-background-radius: 10px;

	-fx-border-color: rgb(20, 20, 20);
	-fx-border-width: 2px;
	-fx-border-radius: 8px;

	-fx-padding: 5 10 5 10;
}

.pad-root {
	-fx-spacing: 4px;
}

.pad-button-box {
	-fx-spacing: 0px;
}

.pad-grid {
	-fx-background-color: rgb(60, 60, 60);

	-fx-hgap: 6px;
	-fx-vgap: 6px;

	-fx-padding: 6px;
}

.pad-info {
	-fx-text-fill: white;
	-fx-font-size: 15px;
}

.pad-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.pad-button:hover {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: rgb(30, 30, 30, 0.5);
	-fx-border-radius: 10px;
}

.pad-button:pressed {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 10px;
}

.pad-button:selected {
	-fx-background-color: transparent;
	-fx-border-width: 1px;
	-fx-border-color: black;
	-fx-border-radius: 10px;
}

.pad-notfound {
	-fx-text-fill: red !important;
}

.fonticon-notfound:pressed {
	-fx-text-fill: lightgray;
}

/* Needed ? */
.font-icon:selected {
	-fx-text-fill: red;
}

.fonticon {
	-fx-text-fill: white;
	-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.1, 1, 1);
}

/*Old Progress Bar*/
/*.pad-playbar .bar {*/
/*-fx-background-color: white;*/
/*-fx-padding: 0.5em;*/
/**/
/*-fx-background-radius: 10px;    */
/*}*/

/*.pad-playbar .track { */
/*-fx-base: black;*/
/*-fx-background-radius: 10px; */
/*}*/

/*.pad-playbar {*/
/*-fx-background-radius: 10px;*/
/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 8, 0.5, 2, 2);*/
/*}*/

.progress-bar > .bar {
	-fx-background-insets: 1 1 1 1;
	-fx-padding: 0.30em;
}

.tool-bar {
	-fx-base: rgb(60, 60, 60);
}

.menu-bar {
	-fx-base: rgb(60, 60, 60);
}

.current-page-button {
	-fx-base: lightgray;
}

.slider .thumb {
	-fx-base: white;
}

.volume-item {
	-fx-text-fill: white !important;
}

.progress-indicator .percentage {
	-fx-fill: white;
}
