.root {
	-fx-base: rgb(30, 30, 30);
}

.button {
	-fx-background-color: #505050;
	-fx-text-fill: #EEEEEE;
	-fx-background-radius: 3px;
	-fx-border-width: 0;
}

.button:focused {
	-fx-background-color: #7f7f7f;
	-fx-text-fill: #EEEEEE !important;
}

.button:hover {
	-fx-background-color: #6a6a6a;
	-fx-text-fill: #EEEEEE !important;
}

.button:default {
	-fx-background-color: #286d85;
	-fx-text-fill: #EEEEEE !important;
}

/*noinspection CssInvalidPseudoSelector*/
.pad:drag {
	-fx-opacity: 0.8;
}

/*noinspection CssInvalidPseudoSelector*/
.text-field:error {
	-fx-text-box-border: red;
	-fx-focus-color: red;
}

.live-label {
	-fx-text-fill: red !important;
}

.pad {
	-fx-background-radius: 10px;

	-fx-border-color: rgb(20, 20, 20);
	-fx-border-width: 2px;
	-fx-border-radius: 8px;

	-fx-padding: 5 10 5 10;
}

.pad-root {
	-fx-spacing: 4px;
}

.pad-button-box {
	-fx-spacing: 0px;
}

.pad-grid {
	-fx-background-color: rgb(60, 60, 60);

	-fx-hgap: 6px;
	-fx-vgap: 6px;

	-fx-padding: 6px;
}

.pad-info {
	-fx-text-fill: white;
	-fx-font-size: 15px;
}

.pad-button {
	-fx-background-color: transparent;
	-fx-border-color: transparent;
}

.pad-button:hover {
    -fx-background-color: #00000030;
}

.pad-notfound {
	-fx-text-fill: red !important;
}

.fonticon-notfound:pressed {
	-fx-text-fill: lightgray;
}

/* Needed ? */
.font-icon:selected {
	-fx-text-fill: red;
}

.fonticon {
	-fx-text-fill: white;
	/*-fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 4, 0.1, 1, 1);*/
}

.tool-bar {
	-fx-background-color: #333333;
	-fx-border-width: 1px 0 1px 0;
	-fx-border-color: #222222;
}

.menu-bar {
	-fx-background-color: #333333;
}

.current-page-button {
	-fx-background-color: #2e4355;
}

.slider .thumb {
	-fx-base: white;
}

.volume-item {
	-fx-text-fill: white !important;
}

.progress-indicator .percentage {
	-fx-fill: white;
}
