/*projectList */
#list .list-cell {
    -fx-skin: "com.sun.javafx.scene.control.skin.ListCellSkin";
    -fx-background-color: -fx-base;
    -fx-padding: 10px;
    -fx-text-fill: -fx-text-inner-color;
    -fx-opacity: 1;
}

#list .list-cell:filled {
    /*-fx-background-color: derive(-fx-control-inner-background,-5%);*/
    -fx-border-width: 0px 0px 1px 0px;
    -fx-border-color: #00000044;
}

#list .list-view:focused .list-cell:focused {
    -fx-background-color: derive(-fx-hover-base,+50%);
    -fx-background-insets: 0, 1, 2;
}

#list .list-view:focused .list-cell:focused:odd {
    -fx-background-color: derive(-fx-hover-base,+50%);
    -fx-background-insets: 0, 1, 2;
}

/* When the list-cell is selected and focused */
#list .list-view:focused .list-cell:filled:focused:selected {
    -fx-background-color: derive(-fx-hover-base,+50%);
    -fx-background-insets: 0, 1, 2;
    -fx-background: -fx-base;
    -fx-text-fill: -fx-selection-bar-text;
}

#list .list-view:focused .list-cell:filled:selected, #list .list-view:focused .list-cell:filled:selected:hover {
    -fx-background: -fx-base;
    -fx-background-color: derive(-fx-hover-base,+50%);
    -fx-text-fill: -fx-selection-bar-text;
}

#list .list-view:focused .list-cell:filled:focused:selected:hover {
    -fx-background: -fx-base;
    -fx-background-color: derive(-fx-hover-base,+50%);
    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-selection-bar-text;
}

/* When the ListView is _not_ focused, we show alternate selection colors */
#list .list-cell:filled:selected:focused, #list .list-cell:filled:selected, .list-view:horizontal .list-cell:filled:selected {
    -fx-background-color: lightgray;
    -fx-text-fill: -fx-selection-bar-text;
}

#list .list-cell:filled:selected:focused:disabled, #list .list-cell:filled:selected:disabled {
    -fx-opacity: -fx-disabled-opacity;
}

#list .list-cell:filled:hover {
    -fx-background-color: -fx-hover-base;
    -fx-text-fill: -fx-text-inner-color;
}

#list .list-view:focused .list-cell:filled:focused:hover {
    -fx-background-color: derive(-fx-hover-base,+50%);

    -fx-background-insets: 0, 1, 2;
    -fx-text-fill: -fx-text-inner-color;
}

#list .list-view:horizontal .list-cell:filled:selected, #list .list-view:horizontal .list-cell:filled:selected:hover {
    -fx-background-color: derive(-fx-hover-base,+50%);
}

.projectname {
	-fx-font-size: 13px;
}

.profilename {
	-fx-font-size: 10px;
	-fx-text-fill: gray;
}